<div class="footer">
    <div class="footer-divider">
        <img src="Content/Images/footer.png">
    </div>
    <div class="footer-content">
        <div class="language-selection">
            <p class="footer-content-title" data-translate="footer.changeLanguage">Change Language</p>
            <button id="dutch-language">
                <p data-translate="footer.dutchLanguage"></p>
                <img src="Content/Images/language-netherlands.png">
            </button>
            <button id="english-language">
                <p data-translate="footer.englishLanguage"></p>
                <img src="Content/Images/language-english.png">
            </button>
        </div>
        <div class="footer-links">
            <p class="footer-content-title" data-translate="footer.links">Links</p>
            <ul>
                <li><a href="support.html" data-translate="footer.help">Help Page</a></li>
                <li><a href="https://www.corendon.nl/contact" data-translate="footer.contact">Contact</a></li>
                <li><a href="https://www.corendon.nl/" data-translate="footer.vacations">Corendon Vacations</a></li>
            </ul>
        </div>
    </div>
</div>