<!DOCTYPE html>
<html lang="en">

<body>
    <div class="footer">
        <div class="footer-divider">
            <img src="Content/Images/footer.png">
        </div>
        <div class="footer-content">
            <div class="language-selection">
                <p class="footer-content-title">Change Language</p>
                <button>
                    <p>Dutch</p>
                    <img src="Content/Images/language-netherlands.png">
                </button>
                <button>
                    <p>English</p>
                    <img src="Content/Images/language-english.png">
                </button>
            </div>
            <div class="footer-links">
                <p class="footer-content-title">Links</p>
                <ul>
                    <li><a href="../support.html">Help Page</a></li>
                    <li><a href="https://www.corendon.nl/contact">Contact</a></li>
                    <li><a href="https://www.corendon.nl/">Corendon Vacations</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>