<div class="main-header">
    <div class="main-banner">
        <a onclick="redirectToHome()">
            <img id="banner-image" src="Content/Images/banner-heavy.png">
        </a>
    </div>
    <nav class="main-menu">
        <!--todo: dynamische header achtergrond en main-menu. (js)-->
        <ul class="main-menu-items">
            <li class="nav-button">
                <a class="main-menu-buttons" href="homepage.html" type="home">
                <img class="main-menu-home-icon"
                     src="Content/Images/home-icon.png">
                <a id="home-nav-element" data-translate="header.navigation.home">Home</a>
            </a>
            </li>
            <li class="nav-button"><a class="main-menu-buttons" type="profile" data-translate="header.navigation.profile" id="profile-link">Profile</a></li>
            <li class="nav-button"><a class="main-menu-buttons" href="settings.html" type="settings" data-translate="header.navigation.settings">Settings</a></li>
            <li class="nav-button"><a class="main-menu-buttons" href="support.html" type="help" data-translate="header.navigation.help">Help</a></li>
        </ul>
        <li id="other">
            <div id ="notification-display">
                <div class="notification-display-dropdown">
                    <button class="notification-display-button">
                        <img class="notification-display-icon" src="Content/Images/notification-yellow.svg">
                        <div class="notification-display-counter">
                            <img class="notification-display-counter-circle"
                                 src="Content/Images/notification-counter-backdrop.svg">
                            <div id="notification-display-counter-text">5</div>
                        </div>
                    </button>
                    <div class="notification-display-dropdown-content">
                        <ul id="notification-display-list"></ul>
                    </div>
                </div>
            </div>
            <div class="profile-display-dropdown">
                <button class="profile-display-button">
                    <img class="profile-display-icon-profile" src="Content/Images/user-icon.svg">
                    <div class="profile-display-text" data-translate="header.userDisplay.welcomeText"></div>
                    <div class="profile-display-text" id="profile-display-name"></div>
                    <img class="profile-display-icon-arrow" src="Content/Images/down-arrow.svg">
                </button>
                <div class="profile-display-dropdown-content">
                    <ul id="test">
                        <li class="profile-display-dropdown-item">
                            <a onclick="closeSession()" class="profile-display-dropdown-item">
                                <img class="profile-display-icon-profile"
                                     src="Content/Images/icon-sign-out.svg">
                                <div id="profile-display-logout-text" data-translate="header.userDisplay.signOut">Sign Out</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </nav>
</div>