<button onclick="closeOverlay()">X</button>

<h2 class="first-header">The navigation bar. </h2>
<p>Here you can quickly swap between the different tabs. </p>
<p>In the all results tab you can view all of your current matches. </p>
<p>In the recently viewed tab you'll see the profile you've most recently visited. </p>
<p>In the matched tab you can find the people you're currently matched with. </p>
<p>You can find the people you've favored in the favorites tab. </p>

<h2>Profile cards</h2>
<p>On the profile cards you have 2 different options. You can select match or profile</p>
<p>The match will send a notification to the other person notifying them you are now matched with each other. </p>
<p>The profile button will send you to the profile of the person you selected. Here you can view in detail who the
    person is. </p>