<div class="user-display">
    <!--todo: 1 userdisplay aanmaken voor elke user in de database
    todo: voor elke userdisplay de id's aanmaken ("user-display-more-info-" + i)
    todo: 1 userdisplay inladen op de pagina voor elke user in de database-->
    <h1 id="ud-username">username</h1>
    <img class="profile-picture" src="Content/Images/profile-picture-1.jpg"> <!--todo placeholder profiel foto-->
    <div>
        <p>city, country</p>
        <p>from date <br> until date</p>
        <p>type of buddy</p>
    </div>
    <div class="tab-content-column-4">
        <button onclick="displayOverlay('overlay-1')">more info</button>
        <button onclick="closeFunction('1')">X</button>
        <div id="favorite-1-v1" onclick="swapFavoritesIcon('favorite-1-v1', 'favorite-1-v2')">
            <img class="favorite-icon" src="Content/Images/favorite-v1.png">
        </div>
        <div id="favorite-1-v2" onclick="swapFavoritesIcon('favorite-1-v2', 'favorite-1-v1')"
             style="display: none">
            <img class="favorite-icon" src="Content/Images/favorite-v2.png">
        </div>
    </div>
</div>