:root {
  --main-corendon-color: rgb(216, 30, 5);
  --main-bg-color: rgb(245, 245, 245);

  --corendon-button-green: rgb(38, 165, 20);
  --corendon-button-green-hover: rgb(30, 132, 16);

  --helvetica-font: "Helvetica", "Arial", sans-serif;
}

.content {
  border: 1px solid #d9d9d9;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-color);
}

#statistics-window {
  background-color: var(--main-bg-color);
}

.statistics-group {
  border: 1px solid #d9d9d9;
  background-color: white;
  display: block;
}

.statistics-group-title {
  background-color: var(--main-corendon-color);
  font-family: var(--helvetica-font);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 10px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 20px;
}

#statistics-title {
  padding-left: 18px;
  font-family: var(--helvetica-font);
}

/* Dropdown */
#time-dropdown select {
  float: right;

  /* From Corendon site */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 5px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#time-dropdown select option {
  /* From Corendon site */
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/* Item - Number */
.statistics-item-number {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  font-family: var(--helvetica-font);
}

.statistics-item-number-title {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  text-align: center;
  font-weight: bold;
}

.statistics-item-number-value {
  width: flex;
  text-align: center;
  font-size: 30px;
}

/* Item - Foldable List */
.statistics-item-list {
}

.statistics-item-list-button {
  background-color: var(--corendon-button-green);
  font-family: var(--helvetica-font);
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.statistics-item-list-button:hover {
  background-color: var(--corendon-button-green-hover);
}

.statistics-item-list-content {
  display: none;
  background-color: var(--main-bg-color);
  font-family: var(--helvetica-font);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 64px;
}

/* Item - Pie Chart */
.statistics-group-container-vertical {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  overflow: auto;
}

.statistics-item-piechart-title {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-family: var(--helvetica-font);
}

.statistics-item-piechart {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
