main {
  background-color: var(--main-bg-color);
}

#statistics-window {
  background-color: var(--main-bg-color);
}

.statistics-group {
  border: var(--border-corendon-grey);
  background-color: var(--color-corendon-white);
  display: block;
  margin-bottom: 40px;
}

.statistics-group-title {
  background-color: var(--color-corendon-red);
  color: var(--color-corendon-white);
  padding: 10px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 20px;
}

#statistics-title {
  padding-left: 18px;
}

/* Dropdown */
#time-dropdown select {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  /* From Corendon site */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 5px;
  color: var(--color-corendon-dark-grey);
  background-color: var(--color-corendon-white);
  background-clip: padding-box;
  border: var(--border-corendon-grey);
  border-radius: 6px;
}

#time-dropdown select option {
  /* From Corendon site */
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/* Item - Number */
.statistics-item-number {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
}

.statistics-item-number-title {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  text-align: center;
  font-weight: bold;
}

.statistics-item-number-value {
  width: flex;
  text-align: center;
  font-size: 30px;
}

/* Item - Foldable List */
.statistics-item-list {
}

.statistics-item-list-button {
  background-color: var(--background-color-corendon-green);
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 18px;
  height: 40px;
  width: 100%;
  border: none;
  text-align: left;
  padding-top: 12px;
  outline: none;
  font-size: 15px;
}

.active,
.statistics-item-list-button:hover {
  background-color: var(--background-color-corendon-dark-green);
}

.statistics-item-list-content {
  display: none;
  background-color: var(--border-corendon-grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 64px;
}

/* Item - Pie Chart */
.statistics-group-container-vertical {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  overflow: auto;
}

.statistics-item-piechart-title {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.statistics-item-piechart {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
