:root {
  --font-family: Uni sans Wfx;
  /* colors */
  --color-corendon-white: #fff;
  --color-corendon-red: #d81e05;
  --color-corendon-dark-red: #c11905;
  --color-corendon-dark-grey: #666666;
  /* background colors */
  --main-background-color-corendon-red: #d81e05;
  --main-background-color-corendon-dark-red: #c11905;
  --background-color-corendon-green: #26a514;
  --background-color-corendon-dark-green: #1e8410;
  /* background colors */
  --border-corendon-grey: 1px solid #d9d9d9;
  /* variables nav menu */
  --color-nav-menu: #000;
  --background-color-nav-menu: #fff;
  /* kevin's kleurtjes :) */
  --color-corendon-light-blue: #00bce2;
  --color-corendon-lighter-blue: #99e4f3;
}

main {
  font-family: var(--font-family);
  color: var(--border-corendon-grey);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 800px;
}

header {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* Header */
.main-banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu ul {
  display: flex;
}

.main-menu li {
  list-style: none;
}

.main-header li img {
  width: 15px;
  padding-right: 5px;
}

nav li + li {
  margin-left: 30px;
}

.main-menu a {
  text-decoration: none;
  background-color: var(--background-color-nav-menu);
  color: var(--color-nav-menu);
  font-family: Uni Sans WFx, sans-serif;
  text-transform: uppercase;
}

.main-menu a[current] {
  font-weight: bold;
}

/* Footer */
.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.language-selection,
.footer-links {
  margin: 20px;
  text-align: center;
}

.language-selection button {
  display: flex;
  align-items: center;
  background-color: var(--background-color-nav-menu);
  max-height: 25px;
  border: none;
}

.language-item-text {
  width: 70px;
  font-size: 16px;
}

.language-selection img {
  width: 24px;
  height: 24px;
}

.footer-links li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul {
  padding-inline-start: 5px;
  margin-top: 5px;
}

.footer-links a {
  text-decoration: none;
  color: var(--border-corendon-grey);
}

/* Profile Display */
.profile-display {
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;

  align-items: center;
  border: 1px solid var(--color-corendon-lighter-blue);
  cursor: pointer;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
}

.profile-display-icon-profile {
  padding-left: 5px;
  max-width: 16px;
  max-height: 16px;
}

.profile-display-icon-arrow {
  padding-right: 8px;
  max-width: 16px;
  max-height: 16px;
}

.profile-display-text {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color-corendon-light-blue);
  font-family: Uni Sans WFx, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
