main {
  display: flex;
  flex-flow: column;
  max-width: 1000px;
}

/* travel specifications */


/* matches tabs titles */
#tab-button-menu {
  display: flex;
  font-size: 0;
  width: 100%;
  /*min-width: max-content;*/
  background-color: #d81e05;
}

.tab-border {
  border: #c11905 solid 1px;
}

/* tab buttons */
#tab-button-menu button {
  /*text-transform: uppercase;*/
  font-size: 18px;
  color: var(--color-corendon-white);
  width: max-content;
  border: none;
  border-right: var(--color-corendon-dark-red) groove;
  padding: 10px 15px 10px 15px;
  background-color: var(--color-corendon-red);
}

#tab-button-menu button:hover {
  background-color: var(--color-corendon-dark-red)
}

/* filters */

#filer-button img {
  width: 18px;
  height: 18px;
}

.tab-border button:last-of-type {
  margin-left: auto;
}

/* tab content */
.tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
  border: #efefef solid 1px;
}

/* user displays */
.user-display {
  text-align: center;
  min-width: max-content;
  margin: 5px;
  padding: 10px;
  border: #efefef solid 1px;
  background-color: inherit;
}

.user-display:hover {
  background-color: #efefef;
}

.user-display h1 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  width: 200px;
}

.user-display img {
  width: 160px;
  border-radius: 2%;
  margin: 10px 0 20px 0;
}

.user-display p {
  margin: 0 5px 5px 5px;
}

.user-display button {
  font-size: 18px;
  font-weight: bold;
  color: #d81e05;
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 15px 5px;
  border: #d81e05 solid 1px;
  transition: 600ms;
  background-color: inherit;
}

.user-display button:hover {
  color: white;
  background-color: #d81e05;
}
