body {
    font-family: "Calibri Light";
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/**
travel specifications
 */
.travel-specifications-wrapper {
    height: fit-content;
    margin: 20px;
}

#travel-specifications {
    font-family: Calibri;
    font-size: 30px;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

#travel-specifications:hover {
    color: gray;
}

#travel-specifications-dropdown {
    /*text-align: center;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#travel-specifications-dropdown input {
    font-size: 15px;
    text-align: center;
}

.text-input {
    margin: 10px;
}

/**
matches
 */
.matches-wrapper {
    height: fit-content;
    margin: 20px;
}
#button-menu {
    font-size: 0;
    display: flex;
    justify-content: center;
}

#button-menu button {
    font-family: Calibri;
    font-size: 20px;
    border: none;
    padding: 5px 20px 5px 20px;
    transition: 200ms;
    background-color: white;
}

#button-menu button:hover {
    color: gray;
}
#button-menu button.active {
    font-weight: bold;
    color: black;
}

.tab-content {
    display: flex;
    justify-content: center;
}


