main {
    border: var(--border-corendon-grey);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}
body {
    font-family: var(--font-family);
    color: var(--color-corendon-dark-grey);
}
legend {
    border: black;
    margin-left: 1em;
    padding: 0.2em 0.8em;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.profielfoto {
    flex: 1;
}
.adminProfielfoto {
    border-radius: 6px;
    height: 200px;
    border: 4px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,3);
}
.naam {
   flex: 2;
    align-items: center;
}
.rightbox {
    color: red;
}
.geslacht {
    flex: 2;
}
table {
    border-spacing: 15px;
}
th {
    text-align: left;
}

form input.error {
    border-color: #e74c3c
}

form input.success {
    border-color: #c3e6cb
}
.badge1, .badge2, .badge3, .badge4, .badge5 {
    color: var(--color-corendon-white);
    background-color: var(--main-background-color-corendon-red);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin: 2px;
}
.biografie {
    resize: none;
}
.img {
    border-radius: 6px;
    height: 200px;
    border: 4px solid #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,3);

}
.match {
    color: var(--color-corendon-white);
    background-color: var(--main-background-color-corendon-red);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 15px 5px;
    border: #d81e05 solid 1px;
    transition: 600ms;
}

.block {
    color: var(--color-corendon-white);
    background-color: var(--main-background-color-corendon-red);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 15px 5px;
    border: #d81e05 solid 1px;
    transition: 600ms;
}

.opslaanKnop, .profielBewerkenKnop{
    color: var(--color-corendon-white);
    background-color: var(--main-background-color-corendon-red);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 15px 5px;
    border: #d81e05 solid 1px;
    transition: 600ms;
}
.profielBewerkenKnop {
    margin: 0 auto;
    text-align: right;
}

.opslaanKnop:hover, .profielBewerkenKnop:hover, .match:hover, .block:hover {
    background-color: var(--main-background-color-corendon-dark-red);
    color: white;
}
.column {
    float: left;
    width:33.3%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
