.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}
.blok1, .blok2, .blok3, .blok4, .blok5, .blok6 {
    flex: 1;
}
.profielBewerkenKnop {
    text-align: right;
}
.opslaanKnop {
    text-align: end;
}
#container {
    height: 300px;
    width: 1400px;
    border: 1px solid black;
    position: relative;
    align-items: stretch;
}
#label {
    position: absolute;
    top:-10px;
    left: 20px;
    height: 20px;
    width: 80px;
    border: 2px;
    text-align: center;
    background-color: white;
}
#container2 {
    height: 300px;
    width: 1400px;
    border: 1px solid black;
    position: relative;
}
#label2 {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 20px;
    width: 120px;
    border: 2px;
    text-align: center;
    background-color: white;
}

.profielfoto {
    flex: 1;
}
.naam {
   flex: 2;
    align-items: center;
}
.geslacht {
    flex: 2;
}
table {
    border-spacing: 30px;
}
th {
    text-align: left;
}

form input.error {
    border-color: #e74c3c
}

form input.success {
    border-color: #c3e6cb
}