/* Settings related CSS: */
/* Resetting some styling on main because of settings side navigation*/
main {
  margin: 0;
  width: 100%;
  max-width: none;
}

.disable-highlight-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Settings side navigation */
.settings-nav-container {
  display: flex;
  justify-content: center;
  max-width: 1000px; /* <-- change max-width of the page here for settings instead (because of the sticky navigation menu) */
  margin-left: auto;
  margin-right: auto;
}

nav#settingsNavigation {
  display: table; /* Using table as it is compatible with most browsers but could also use align-self: flex-start instead. */
  position: sticky;
  top: 0;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #efefef;
}

nav#settingsNavigation > ul {
  list-style: none;
  padding: 0;
}

nav#settingsNavigation > ul a {
  display: block;
  margin: 5px;
  padding: 15px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: var(--main-background-color-corendon-red);
}

nav#settingsNavigation > ul a:hover {
  background-color: var(--color-corendon-dark-red);
}

@media only screen and (max-width: 1000px) {
  nav#settingsNavigation {
    display: none;
  }
}

/* Content */
.content {
  border: 1px solid #efefef;
  padding: 0 15px;
}

.content input[type="range"]#distance {
  max-width: 350px;
  width: 100%;
}

.content form > label {
  max-width: 17%;
  width: 100%;
  display: inline-block;
  margin-bottom: 0.5rem;
}

#distanceUnit {
  display: inline-block;
}
#distanceUnit label {
  float: left;
}

#distanceUnit input[type="radio"],
#distanceUnit input.radio {
  float: left;
}

#validationMessage {
  display: none;
}

.validation-list {
  list-style: none;
}

.valid {
  color: var(--background-color-corendon-dark-green);
}

.valid:before {
  position: relative;
  left: -30px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -30px;
  content: "✖";
}

#identifyAsContainer {
  display: none;
}

#searchBlockResult {
  border: 1px solid #efefef;
  height: 170px;
  overflow-y: scroll;
}

.user-card, .user-card-content {
  margin: 5px;
  border: 1px solid #efefef;
}

.user-card {
  display: flex;
  flex: 1 0 calc(50% - 24px);
  height: 75px;
}

.user-card-image {
  flex: 1 0 calc(25% - 22px);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card-content {
  flex: 1 0 calc(75% - 22px);
  display: flex;
}

.card-info {
  flex: 1;
  padding: 5px;
  overflow: hidden;
}

.card-control {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}

/* Use full screen real estate on dekstop by using flexbox: */
@media only screen and (min-width: 1000px) {/* <-- please hit me up what the min width for desktop will be */
  #searchBlockResult {
    display: flex;
    flex-wrap: wrap;
  }
}

.settings-controls {
  text-align: center;
  padding-bottom: 15px;
}

.settings-controls button {
  padding: .375rem .75rem;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.settings-controls button#apply {
  color: var(--color-corendon-white);
  background-color: var(--main-background-color-corendon-red);
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 15px 5px;
  border: #d81e05 solid 1px;
  transition: 600ms;
}

/* .settings-controls button#cancel {
  background-color: var(--color-corendon-red);
  color: var(--color-corendon-white);
} */