/* Support related CSS: */
.disable-highlight-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.content > img {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.support-controls {
    text-align: center;
}

.support-controls button {
    padding: .375rem .75rem;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.support-controls button#back {
    background-color: #d7503d;
    border-color: #d46e5f;
    color: #fff;
}