.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.content-wrapper .passInput {
    width: fit-content;
}
.button-options {
    display: flex;
    padding-top: 10px;
}

.back-btn {
    outline: none;
    border: none;
    width: 70px;
    height: 30px;
    background: rgb(184, 26, 4);
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: white;
    color: rgb(184, 26, 4);
    border: 2px solid rgb(184, 26, 4);
}
