/* removes the outline around a selected item */
textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

main {
  max-width: 1000px;
}

/* travel specifications */

#travel-container {
  margin: 0 auto 40px auto;
  border: var(--border-corendon-grey);
  padding: 20px;
  width: 60%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper span h2 {
  margin: 0 5px 0 0;
}

.content-wrapper span img {
  width: 20px;
  height: 20px;
}

.content-wrapper form {
  display: none;
}

#travelSubmitButton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

#travelSubmitButton-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper input, select{
/* removes the highlight around a selected item that is present on chrome*/
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

input[type=button]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 700px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
  }
}

/* matches tabs buttons */
#matches-tabs-border {
  border: var(--border-corendon-grey);
  border-top: none;
  position: relative;
}

#button-menu-container {
  position: relative;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

#filters, #tab-buttons-border button {
  color: var(--color-corendon-white);
  font-size: 18px;
  border: none;
  border-right: #ff1b00 groove;
  padding: 10px 15px 10px 15px;
  background-color: var(--color-corendon-red);
}

#tab-buttons-border button:hover {
  background-color: var(--color-corendon-dark-red);
}

#tab-buttons-border {
  width: 100%;
  background-color: var(--color-corendon-red);
}

/* filters */
#filters {
  display: flex;
  width: 10%;
  border: none;
  justify-content: flex-end;
}

#filters img {
  width: 18px;
  margin: 0 5px 0 5px;
}

#filter-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 18px;
  display: none;
  justify-content: center;
  width: max-content;
  background-color: var(--color-corendon-red);
  color: var(--color-corendon-white);
  margin-left: auto;
  border-top: var(--color-corendon-dark-red) 1px solid;
}

#filters:hover + #filter-dropdown{
  display: flex;
}

#filter-dropdown:hover {
  display: flex;
}

/* filter options */
.filter-option {
  padding: 5px;
}

.filter-option-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.filter-option-buttons button {
  border: none;
  color: var(--color-corendon-white);
  background-color: inherit;
  height: 22px;
}

/* tab content */
#tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
}

/* no matches messages */
.no-matches-message {
  text-align: center;
  width: 80%;
}

/* user displays */
.user-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: max-content;
  margin: 5px;
  padding: 10px;
  border: #efefef solid 1px;
  background-color: inherit;
}

.user-display:hover {
  background-color: #efefef;
}

.user-display h1 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  width: 200px;
}

.profile-picture {
  width: 160px;
  border-radius: 2%;
  margin: 10px 0 20px 0;
}

.user-display p {
  margin: 0 5px 5px 5px;
  max-width: 180px;
}

.user-display button {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-corendon-red);
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 15px 5px;
  border: var(--color-corendon-red) solid 1px;
  transition: 600ms;
  background-color: inherit;
}

.user-display button:hover {
  color: var(--color-corendon-white);
  background-color: var(--color-corendon-red);
}

.user-display-column-3 span, .user-display-column-3 span p {
  display: flex;
  padding-left: 0;
  padding-right: 5px;
  margin-left: 0;
  margin-right: 0;
}

.user-display-column-4 {
  display: flex;
  align-items: center;
}

.favourite-icon {
  width: 25px;
  height: 25px;
  margin: 10px 5px 15px 5px;
}

/* overlay */
#overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 80;
  background-color: var(--color-corendon-white);
}
/* overlay content */
.overlay-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* overlay content rows */
.overlay-row {
  display: flex;
  width: 100%;
  flex: 0 50%;
}

#overlay-row-1 {
  justify-content: center;
}

#overlay-row-2 {
  flex-direction: column;
  justify-content: space-evenly;
}

#overlay-full-name, #overlay-username {
  text-align: center;
  margin: 0;
}

#overlay-interests {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#overlay-interests ul {
  max-height: 75px;
  text-align: center;
  padding: 0;
  margin-top: 5px;
}

#overlay-row-3 {
  flex-direction: column;
  margin-top: 10px;
  flex: 2;
}

.header-text {
  margin: 5px;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

/* overlay header */
.overlay-header {
  display: flex;
  align-items: center;
  border-left: var(--color-corendon-dark-red);
  background-color: var(--color-corendon-red);
}

.overlay-header button {
  width: auto;
  color: var(--color-corendon-white);
  border: none;
  background-color: var(--color-corendon-red);
}

.close-button {
  font-size: 18px;
  padding: 5px 10px 0 0;
  border-top-right-radius: 6px;
  width: min-content;
}

.close-button:hover {
  font-weight: bold;
}

.header-buttons {
  font-family: var(--font-family);
  font-weight: bold;
  padding: 10px 5px 10px 5px;
  width: 100px;
  transition: 400ms background-color;
}

#profile-button:hover {
  background-color: var(--color-corendon-dark-red);
}

.header-buttons a {
  color: inherit;
  text-decoration: none;
}

.filter-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

.filter-option-distance{
  min-width: 150px;
}
.filter-option-buddy{
  min-width: 150px;
}
.filter-option-distance[current]{
  font-weight: bold;
}

.filter-option-buddy[current]{
  font-weight: bold;
}

#profile-button{
  width: 100%;
}
/* overlay background */
#overlay-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 60;
}

/** Overlay */
@media only screen and (orientation: portrait) {
  #overlay {
    flex-direction: column;
    width: 65%;
    height: auto;
  }

  .close-button {
    display: none;
  }

  .overlay-content {
    margin-top: 20px;
  }
  .header-buttons{
    font-size: 30px;
    padding: 13px;
  }
  #close-button-mobile {
    font-size: 80px;
    font-weight: bold;
    background-color: var(--color-corendon-white);
    border: none;
    width: min-content;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .overlay-header {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .overlay-content {
    flex-direction: column;
  }

  .overlay-content img {
    width: 90%;
    max-width: 500px;
  }

  #overlay p {
    font-size: 30px;
  }

  #overlay h1 {
    font-size: 30px;
  }

  #overlay h2 {
    font-size: 30px;
  }

  #overlay h3 {
    font-size: 30px;
  }


  #overlay li {
    font-size: 25px;
  }

  #overlay-interests ul {
    height: auto;
  }
}

@media only screen and (orientation: landscape) {
  #close-button-mobile {
    display: none;
  }

  #overlay {
    flex-direction: row;
    max-width: 600px;
    height: fit-content;
    max-height: 500px;
  }

  .close-button {
    margin: 0 0 60% auto;
  }

  .overlay-header {
    width: auto;
    flex-direction: column;
  }

  .overlay-content img {
    width: 90%;
    max-width: 200px;
    border-radius: 2%;
  }
  #overlay-interests {
    max-width: 200px;
  }
}
