main {
  max-width: 1000px;
}

/* travel specifications */
#travel-container {
  margin: 0 auto 40px auto;
  border: var(--border-corendon-grey);
  padding: 20px;
  width: max-content;
}

#travel-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* set tree image specs */
#travel-content img {
  width: 100%;
  max-width: 15em;
  height: auto;
}

/* set travel specifications text over image */
#update-hidden {
  visibility: hidden;
  opacity: 0;
  animation: 0.5s ease-in 1.2s 1 show-hidden;
  animation-fill-mode: forwards;
  color: var(--color-corendon-white);
  background-color: var(--color-corendon-red);
  transition: 600ms;
  cursor: pointer;
}

#update-hidden-mobile {
  visibility: hidden;
  text-align: center;
  padding: 5px;
  opacity: 0;
  animation: 0.5s ease-in 1.7s 1 show-hidden;
  animation-fill-mode: forwards;
  color: var(--color-corendon-white);
  background-color: var(--color-corendon-red);
  transition: 600ms;
  cursor: pointer;
}

#update-hidden:hover {
  background-color: var(--color-corendon-dark-red);
}

@keyframes show-hidden{
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

.text-wrapper {
  position: absolute;
  width: fit-content;
  left: 50%;
  text-align: center;
  animation: 0.4s linear 0.8s 1 slide-to-left;
  animation-fill-mode: forwards;
}

@keyframes slide-to-left {
  0% {
    left: 50%;
  }
  100% {
    left: 38%;
  }
}

.text-wrapper h2 {
  color: var(--color-corendon-white);
  padding: 5px;
  background-color: var(--color-corendon-dark-green);
}

/*travel specifications wrapper */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  width:0;
}
@media screen and (min-width: 900px) {
  #update-hidden-mobile {
    display: none;
  }
} 
@media screen and (max-width:900px) {
  .text-wrapper {
    z-index: 1;
    left:25%;
    top: 220px;
    animation: none;
  }
  .text-wrapper #update-hidden {
    display:none;
  }
  #tree-image {
    display: none;
  }
  #travel-container {
    width: auto;
  }
  #travel-content {
    max-width: 700px;
  }
  #travel-form {
   animation: none; 
  }
}

#travel-form{
  visibility: hidden;
  animation: 0.5s ease-in 1.3s 1 show-form;
  animation-fill-mode: forwards;
}

@keyframes show-form {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.show-options + .form-wrapper {
  animation: 0.5s ease-out 0.8s 1 open-slider;
  animation-fill-mode: forwards;
}

@keyframes open-slider {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}

#travel-form {
  display: flex;
  flex-direction: column;
}

.date-picker {
  background-color: var(--color-corendon-red);
  color: white;
  padding: 5px;
  border: none;
  font-size: 16px;
  margin-top: 5px;
}

#date-till-label{
  margin-top: 5px;
}

#myList {
  background: var(--color-corendon-red);
  padding: 5px;
  margin: 5px 0;
  color: var(--color-corendon-white);
  border: none;
  font-size: 16px;
}

#my-list-label {
  margin-top: 30px;
}

/* matches tabs buttons */
#matches-tabs-border {
  border: var(--border-corendon-grey);
  position: relative;
}

#button-menu-container {
  position: relative;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

#filters, #tab-buttons-border button {
  color: var(--color-corendon-white);
  font-size: 18px;
  border: none;
  border-right: var(--color-corendon-dark-red) groove;
  padding: 10px 15px 10px 15px;
  background-color: var(--color-corendon-red);
}

#tab-buttons-border button:hover {
  background-color: var(--color-corendon-dark-red);
}

#tab-buttons-border {
  width: 90%;
  background-color: var(--color-corendon-red);
}

/* filters */
#filters {
  display: flex;
  width: 10%;
  border: none;
  justify-content: flex-end;
}

#filters img {
  width: 18px;
  margin: 0 5px 0 5px;
}

#filter-dropdown {
  position: absolute;
  right: 0;
  top: 41px;
  font-size: 18px;
  display: none;
  justify-content: center;
  width: max-content;
  background-color: var(--color-corendon-red);
  color: var(--color-corendon-white);
  margin-left: auto;
  border-top: var(--color-corendon-dark-red) 1px solid;
}

#filters:hover + #filter-dropdown{
  display: flex;
}

#filter-dropdown:hover {
  display: flex;
}

/* filter options */
.filter-option {
  padding: 5px;
}

.filter-option-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.filter-option-buttons button {
  border: none;
  color: var(--color-corendon-white);
  background-color: inherit;
  height: 22px;
}

/* tab content */
#tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
}

/* user displays */
.user-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: max-content;
  margin: 5px;
  padding: 10px;
  border: #efefef solid 1px;
  background-color: inherit;
}

.user-display:hover {
  background-color: #efefef;
}

.user-display h1 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  width: 200px;
}

.profile-picture {
  width: 160px;
  border-radius: 2%;
  margin: 10px 0 20px 0;
}

.user-display p {
  margin: 0 5px 5px 5px;
}

.user-display button {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-corendon-red);
  padding: 5px 10px 5px 10px;
  margin: 10px 5px 15px 5px;
  border: var(--color-corendon-red) solid 1px;
  transition: 600ms;
  background-color: inherit;
}

.user-display button:hover {
  color: var(--color-corendon-white);
  background-color: var(--color-corendon-red);
}

.tab-content-column-4 {
  display: flex;
  align-items: center;
}

.favorite-icon {
  width: 25px;
  height: 25px;
  margin: 10px 5px 15px 5px;
}

/* overlay */
.overlay-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px;
  height: fit-content;
  max-height: 500px;
  overflow: hidden;
  z-index: 80;
  background-color: var(--color-corendon-white);
}
/* overlay content */
.overlay-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* overlay content rows */
.overlay-row {
  width: 100%;
  flex: 0 50%;
}

#overlay-row-1 {
  display: flex;
  justify-content: center;
}

.overlay-content img {
  width: 90%;
  max-width: 200px;
  border-radius: 2%;
}

#overlay-row-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#overlay-name h2, p {
  text-align: center;
  margin: 0;
}

#overlay-interests {
  overflow: hidden;
}

#overlay-interests ul {
  text-align: center;
  padding: 0;
  margin-top: 5px;
}

#overlay-bio {
  margin-top: 10px;
  flex: 2;
}

.header-text {
  margin: 5px;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

/* overlay header */
.overlay-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border-left: var(--color-corendon-dark-red);
  background-color: var(--color-corendon-red);
}

.overlay-header button {
  color: var(--color-corendon-white);
  border: none;
  background-color: var(--color-corendon-red);
}

.close-button {
  font-size: 18px;
  margin: 0 0 80% auto;
  padding: 5px 10px 0 0;
  border-top-right-radius: 6px;
  width: min-content;
}

.close-button:hover {
  font-weight: bold;
}

.header-buttons {
  font-family: var(--font-family);
  font-weight: bold;
  padding: 10px 5px 10px 5px;
  width: 100px;
  transition: 400ms background-color;
}

.header-buttons:hover {
  background-color: var(--color-corendon-dark-red);
}

.header-buttons a {
  color: inherit;
  text-decoration: none;
}

/* overlay background */
#overlay-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 60;
}