/* Support related CSS: */
main {
    max-width: 1000px; /* <-- is overwriting general.css, using same value as homepage is using however. Consider changing homepage width or general.css */
}

.disable-highlight-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Support related CSS: */
.content {
    border: var(--border-corendon-grey);
    padding: 10px 10px;
}

.content .collapsibleContent > img {
    max-width: 100%;
    display: block;
}

.collapsible {
    background-color: var(--color-corendon-red);
    color: var(--color-corendon-white);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid #d81e05;
}

.collapsible:hover, .collapsible.active {
    background-color: var(--color-corendon-red);
}

h3.collapsible {
    margin: 5px 0 0 0;
}

.collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--color-corendon-white);
    border: 1px solid #d81e05;
}

.support-controls {
    text-align: center;
    padding: 15px 0;
}

.support-controls button {
    padding: .375rem .75rem;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.support-controls button#back {
    background-color: #d7503d;
    border-color: #d46e5f;
    color: var(--color-corendon-white);
}