:root {
  --font-family: Uni sans Wfx, sans-serif;
  /* colors */
  --color-corendon-white: #fff;
  --color-corendon-red: #d81e05;
  --color-corendon-dark-red: #c11905;
  --color-corendon-dark-grey: #666666;
  --color-corendon-yellow: #ffc61e;
  --color-corendon-green: #26a514;
  --color-corendon-dark-green: #1e8410;
  /* border colors */
  --border-corendon-grey: 1px solid #d9d9d9;
  --border-corendon-red: 1px solid #d81e05;
  /* variables nav menu */
  --color-nav-menu: #000;
  --color-corendon-light-blue: #00bce2;
  --color-corendon-lighter-blue: #99e4f3;
}

* {
  font-family: var(--font-family);
}

body {
  color: var(--color-corendon-dark-grey);
  margin: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 70%;
}